body {
    background-color: gray;
    font-family: arial;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: verdana;
    color:black;
}

.maindiv{
    margin: auto;
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}
footer{
    text-align: center;
    color: black;
}

button{
    width: 50%;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: yellowgreen;
    cursor: pointer;
}
button:hover{
    background-color: yellow;
}